body{
    background-image: url('https://wallpapercave.com/wp/wp2436369.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.intro{
    justify-content: center;
    text-align: center;
    align-items: center;
}
button{
    border: none;
    font-size: 100px;
    color: black;
    background-color: transparent;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
}